@media screen and (min-width: 992px){
    /********************************************************************
    HELPER
    ********************************************************************/
    .help{
        left: 94%;
    }

    .help .box{
        position: absolute;
        top: -25%;
        transform: translateX(-105%);
    }

    .help .box::after{
        content: "";
        top:50%;
        left: unset;
        right: -8px;
    }

    /********************************************************************
    DEPLOY
    ********************************************************************/
    .deploy .sb-list{
        margin-left: 95px;
    }

    /********************************************************************
    DESIGNED
    *******************************************************************/
    .designed p{
        margin: 35px 0 75px;
    }
}